* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

body {
    background-color: silver;
    /* min-height: 94vh; */
    width: 100%;
    flex-direction: column;
    background-color: #be2b2b27;
    position: relative;
    background-image: url("../files/background10.jpg");
    background-position: center center;
    background-size: cover;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}

.container {
    width: 100%;
    margin: auto;
    /* position: relative; */
    z-index: 1;
    display: grid;
    grid-template-areas:
        "name name title buttons"
        "txt txt board buttons"
        "left right board buttons"
        "timer timer board buttons";
    gap: 10px;
}

.hamburger {
    display: none;
    width: 40px;
    position: absolute;
    top: 20px;
    right: 20px;
}

.close {
    font-size: 40px;
    width: 100px;
    position: absolute;
    top: 80px;
    right: 25px;
}
.logo2 {
    width: 140px;
}

.buttons2 {
    background-color: rgba(66, 70, 73, 0.657);
    /* border: 3px solid red; */
    position: absolute;
    top: 0px;
    right: -17px;
    width: 200px;
    height: 100vh;
    
    z-index: 200;
    padding: 5px;
    display: none;
    flex-direction: column;
    
    gap: 25px;
    animation: toLeft 0.5s;

    button {
        width: 80%;
        align-items: start;
        /* background-color: rgb(165, 175, 176); */
    }
}

@keyframes toLeft {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}

.logo {
    width: 90px;
    /* position: absolute;
    top: 60px; */
    justify-self: center;
}


.name {
    grid-area: name;
    color: rgb(50, 58, 64);
    font-weight: bold;
    font-size: x-large;
    background-color: rgba(240, 248, 255, 0.407);
    border-radius: 3px;
}

.title {
    grid-area: title;
}

.board {
    border: 6px solid rgb(213, 206, 206);
    border-radius: 6px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    width: fit-content;
    box-shadow: 11px 12px 10px 4px rgb(41, 88, 108);
    grid-area: board;
    ;
}

.cell {
    height: 50px;
    width: 50px;
}

.cell-light {
    /* background-image: url("../files/backGround-light.png"); */
    background-color: rgb(165, 175, 176);
}

.cell-dark {
    /* background-image: url("../files/backGround-dark.png"); */
    background-color: rgb(41, 88, 108);

}

.change {
    background-color: rgb(0, 127, 197);
}

.selected {
    background-color: red;
}

.pawn,
.king {
    width: 40px;
    height: 40px;
}

.txt {
    grid-column: span 2;
    /* border: 2px solid red; */
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    grid-area: txt;
    color: rgb(42, 26, 26);
}

.pawns-red-ded,
.pawns-dark-ded {
    background-color: rgba(66, 70, 73, 0.417);
    border-radius: 5px;
    min-width: 100px;
    min-height: 50px;
    flex-direction: column;
    flex-wrap: wrap;
    /* padding: 5px; */
    color: white;
    text-align: center;
}

.pawns-dark-ded {
    grid-area: left;
}

.pawns-red-ded {
    grid-area: right;
}

.pawns-red-ded div,
.pawns-dark-ded div {
    font-weight: bold;
}

.timer {
    grid-column: span 2;
    grid-area: timer;
    font-size: x-large;
    font-weight: bold;
    color: beige;
    background-color: rgba(66, 70, 73, 0.417);
    border-radius: 5px;
}

.buttons {
    grid-area: buttons;
    margin: 0 20px;
    flex-direction: column;
    gap: 20px;

    button {
        width: 120px;
    }
}


@media (max-width: 681px) {
    body {
        background-position: center bottom;
        background-repeat: no-repeat;
    }

    .title {
        margin: 0;
    }

    .container {
        margin: 0;
        /* background-color: aqua; */
        grid-template-areas:
            "title title"
            "name timer"
            "board board"
            "left left"
            "right right";
    }

    .pawns-red-ded,
    .pawns-dark-ded {
        flex-direction: row;
    }

    .hamburger {
        display: flex;
    }

    .buttons {
        display: none;
    }

    .txt {
        display: none;
    }

    .cell {
        height: 40px;
        width: 40px;
    }

    .logo {
        display: none;
    }

    .pawn,
    .king {
        width: 30px;
        height: 30px;
    }
    .timer, .name{
        font-size: small;
    }

}

