*{
    box-sizing: border-box;
}
body{
    background-color: silver;
    min-height: 94vh;
    width: 96vw;
    flex-direction: column;
    background-color: #be2b2b27;
    position: relative;
    background-image: url("../files/background10.jpg");
    background-position: center center;
    background-size: cover;
}

/* הוספת שכבת רקע עם תמונה */
body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("../files/background10.jpg");
    background-position: center center;
    background-size: cover;
    opacity: 80; /* שיניתי את השקיפות ל-0.15 (15%) */
    z-index: -1;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.hide{
    display: none;
}
.container{
    width: 70%;
    margin: auto;
    /* flex-direction: column; */
    position: relative;
    z-index: 1;
    gap: 30px;
}
.logo{
    width: 100px;
    /* בחר אחת מהאפשרויות - או grid-column או grid-area */
    /* grid-area: logo; מומלץ להשתמש בזה אם אתה משתמש ב-grid-template-areas */
    grid-column: span 2;
    margin-bottom: 50px;
}
.name{
    grid-area: name;
    color: rgb(50, 58, 64);
    font-weight: bold;
    font-size: x-large;
    background-color: rgba(240, 248, 255, 0.407);
    border-radius: 3px;
}
main{
    flex-direction: column;
}
.board{
    border: 6px solid rgb(213, 206, 206);
    border-radius: 6px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    margin: auto;
    width: 70%;
    /* gap: 1px; */
    width: fit-content;
    box-shadow: 11px 12px 10px 4px #7d6060;
}
.cell{
    height: 50px;
    width: 50px;
}
.cell-light{
    /* background-image: url("../files/backGround-light.png"); */
    background-color: rgb(165, 175, 176);
}
.cell-dark{
    /* background-image: url("../files/backGround-dark.png"); */
    background-color: rgb(41, 88, 108);
    
}
.change{
    background-color: rgb(0, 127, 197);
}
.selected {
    background-color: red;
}
.pawn, .king{
    width: 40px;
    height: 40px;
}
/* .pawn-dark{
    width: 60px;
    height: 60px;

} */
.information{
    gap: 10px;
    align-self: center;
    gap: 3px;
    grid-area: pawns;
    display: grid;
    grid-template-areas: 

    "logo logo"
    "name name"
    "pawns pawns"
    "left right"
    "timer timer";
    p{
        grid-column: span 2;
        /* border: 2px solid red; */
        text-align: center;
        font-size: x-large;
        font-weight: bold;
        color: rgb(42, 26, 26);
    }
}
.pawns-red-ded, .pawns-dark-ded {
    background-color: rgba(66, 70, 73, 0.417);
    border-radius: 5px;
    min-width: 100px;
    min-height: 50px;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 5px;
    color: white; /* הוספת צבע לטקסט */
    text-align: center; /* מרכוז הטקסט */
}
.pawns-dark-ded{
    grid-area: left;
}
.pawns-red-ded{
    grid-area: right;
}

.pawns-red-ded div, .pawns-dark-ded div {
    margin-bottom: 5px; /* מרווח בין הכותרת לתמונות */
    font-weight: bold; /* הדגשת הטקסט */
}
.timer{
    grid-column: span 2;
    grid-area: timer;
    font-size: x-large;
    font-weight: bold;
    color: beige;
    background-color: rgba(66, 70, 73, 0.417);
    border-radius: 5px;
}
.buttuns{
    margin: 0 20px;
    flex-direction: column;
    gap: 20px;
    button{
        width: 120px;
    }
}