@import url("./colors.css");
;

* {
    box-sizing: border-box;
}

body {
    /* min-height: 95vh; */
    width: 95vw;
    background-image: url("../files/background10.jpg");
    background-position: center center;
    background-size: cover;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}

.container {
    /* border: 3px solid peru; */
    /* gap: 20px; */
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center; 
    grid-template-areas:
        "logo logo"
        "title title"
        "buttons logIn"
        "footer logIn";
}

.title {
    /* border: 3px solid rgb(63, 205, 75); */
    margin: 0;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 60px;
    grid-area: title;
    -webkit-text-stroke: 0.1px var(--primary);
}

.logo {
    /* border: 3px solid rgb(205, 63, 63); */
    justify-self: center;
    width: 20%;
    grid-area: logo;
}

.buttons {
    grid-area: buttons;
    /* border: 3px solid darkblue; */
    width: 90%;
    flex-direction: column;
    gap: 10px;


    button {
        width: 80%;
        height: 22%;
        transition: 0.55 ease;
        position: relative;
        overflow: hidden;
        cursor: pointer;
        z-index: 1;
        
    }
}


@keyframes toLeft {
    from {
        transform: translateX(-100%);
    }

    to {

        transform: translateX(0);
    }
}

._btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: var(--primary);
    transition: left 0.4s ease-in-out;
    z-index: -1;
}

._btn:hover::before {
    left: 0;
}

._btn:hover {
    color: var(--secondary);
}

._btn::before {
    z-index: -1;
}


footer {
    /* border: 3px solid hotpink; */
    grid-area: footer;
    flex-direction: column;
    grid-area: footer;
    width: 90%;
    margin-top: 20px;

    height: fit-content;

    div {
        /* border: 3px solid rgb(77, 8, 58); */

    }

    .links {
        /* border: 3px solid lawngreen; */
        width: 100%;
        justify-content: space-between;

        .fab,
        .fas {
            color: rgb(33, 37, 41);

        }

    }

}

.log-in,
.sign-up {
    grid-area: logIn;
    width: 90%;
}

.log-in form,
.sign-up form {
    background-color: rgba(56, 60, 63, 0.56);
    backdrop-filter: blur(5px);
    border: none;
    border-radius: 2px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    position: relative;
    width: 90%;
    padding: 15px;
    animation: toRight 0.5s;
    min-height: 350px;
    /* border: 2px solid rgb(212, 255, 0); */

}

@keyframes toRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}


.myCard {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 6px;
}

.icon {
    height: 17px;
}

.iconShow,
.iconHide {
    height: 10px;
    width: 20px;
    /* position: absolute; */
    top: 55.5%;
    right: 5%;
}

.iconHide2,
.iconShow2 {
    top: 57.5%;
    right: 6%;
}

.back {
    position: absolute;
    top: 5%;
    right: 5%;
    width: 40px;
    transform: scaleX(-1);
}

.enter {
    color: white;
    /* color: bisque; */
    text-decoration: underline;
}

@media (max-width: 681px) {
    .container {
        width: 95vw;
        grid-template-columns: 1fr;
        grid-template-areas:
            "logo"
            "title"
            "buttons"
            "logIn"
            "footer";
        justify-items: center;
        padding: 20px;
    }
    .logo {
        width: 30%;  
        min-width: 100px;
        display: block;  
    }
    .buttons,
    .log-in,
    .sign-up,
    footer {
        width: 100%;

    }

    .log-in form,
    .sign-up form {
        width: 100%;
    }

    footer .links {
        width: 100%;

    }
}