body{
    background-color: beige;
}
center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.victory{
    margin: auto;
    background-color: aqua;
    height: 60vh;
    width: 80vw;
    text-align: center;
}